//variables globales
$mainFont: 'Sofia Sans Semi Condensed', sans-serif;

//colores
$mainColor: #FB9B1C;
$secondaryColor: #f8c37d;
$keyColor: #844C9C; 

//fontweigt
$textRegular:400;
$textBold:600;
$textLiggh:300;

//fontsizes
$textSm:1.3em;
$textMd:1.5em;
$textL:1.7em;
$textXl:2em;

